body{
    /*background-color: #616A6B;*/
    background-image: url("pexels-pixabay-531880.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
}
div.island-body{
    background-color: white;
    width: 90%;
    height: 80%;
    position: absolute;
    left: 5%;
    right: auto;
    bottom: 5%;
}

p#header_title{
    font-size: large;
    text-align: center;
}
