body{
    background-color: #138D75;
}
div.island-body{
    background-color: white;
    min-width: 90%;
    min-height: 80%;
    align-self: center;
}

p#header_title{
    font-size: large;
    text-align: center;
}
