body{
    background-color: #616A6B;
}
div.island-body{
    background-color: white;
    max-width: 90%;
    max-height: 80%;
    position: inherit;
}

p#header_title{
    font-size: large;
    text-align: center;
}
